/* .Wheel_body {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Wheel_body > img {
  width: 486.6px;
  height: 450.75px;
}

.Wheel_body > button {
  cursor: pointer;
  color: white;
  background-color: #146531;
  font-family: "Poppins", sans-serif;
  width: 140px;
  height: 60px !important;
  font-size: 14pt;
  padding: 10px 0px;
  margin: 20px 0px 10px 0px;
  border-radius: 50px;
  border: none;
} */

.wheelContainer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wheelContainer_wrapper > button {
  position: absolute;
  top: 82vh;
  cursor: pointer;
  color: white;
  background-color: #146531;
  font-family: "Poppins", sans-serif;
  width: 140px;
  height: 60px !important;
  font-size: 14pt;
  padding: 10px 0px;
  /* margin: 0px 0px 10px 0px; */
  border-radius: 50px;
  border: none;
}

@media (max-width: 769px) {
  .wheelContainer_wrapper > button {
    margin-top: -10px;
    height: 50px !important;
    width: 120px;
    font-size: 12pt;
  }

  @media (max-width: 690px) {
    .wheelContainer_wrapper > button {
      margin-top: -20px;
    }
  }
  @media (max-width: 385px) {
    .wheelContainer_wrapper > button {
      margin-top: -30px;
    }
  }
}
