body {
  background-color: #c6efc8;
  overflow-x: hidden;
}

.tablet_background {
  display: none;
  width: 100vw;
  height: 100vh;
}

.tablet_background > img {
  width: 100%;
  height: 100%;
}

.main_body {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.desktop_back {
  position: absolute;
  height: 100%;
  width: 100%;
}
.desktop_back:nth-child(1) {
  left: -25px;
}
.desktop_back:nth-child(2) {
  top: 90px;
}
.tablet_back {
  display: none;
}
